body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2em;
}
input {
    width: 500px;
    height: 24px;
}
.hidden {
    display: none;
}
#weather * {
    line-height: 40%;
}
#greeting-msg {
    font-size: 2.5em;
    margin-bottom: 0%;
}
#clock {
    font-size: 4em;
    margin: 0.3em;
}
#location {

}
#sky {

}
#temp {

}
#todo-form {

}
#todo {
    list-style: none;
}
#quote {
    margin-top: 10px;
    font-size: 1.5em;
    font-style: italic;
}
#quote span:last-child {
    color: whitesmoke;
    font-weight: bolder;
}
#bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 50%;
}