header {
    background-color: red;
    align-content: center;
}
nav {
    background-color: blue;
}
aside {
    background-color: blueviolet;
    width: 30%;
    float: left;
    overflow: scroll;
}
section#contents {
    background-color: aqua;
    width: 70%;
    float: left;
}
footer {
    background-color: coral;
    clear: both;
}